In [1]:
import json
import pandas as pd
import numpy as np

# Path ke file JSON
dataset_kota = '../dataset/dataset_kota.json'
path_dataset = "../dataset/SAMPLE DATA KC AMUNTAI JAN-JUN 2024 data Penelitian.xls"

In [2]:
# Membaca file JSON
with open(dataset_kota, 'r') as file:
    data_kordinat = json.load(file)

# Menghitung panjang array
array_length = len(data_kordinat)

# Menampilkan panjang array
print(f"Panjang array: {array_length}")

Panjang array: 516

In [3]:
# Mengonversi data JSON ke DataFrame pandas
df_kordinat = pd.DataFrame(data_kordinat)

# Menampilkan DataFrame
df_kordinat.head()

,id,province_id,name,alt_name,latitude,longitude
0,1101,11,KABUPATEN SIMEULUE,KABUPATEN SIMEULUE,2.61667,96.08333
1,1102,11,KABUPATEN ACEH SINGKIL,KABUPATEN ACEH SINGKIL,2.41667,97.91667
2,1103,11,KABUPATEN ACEH SELATAN,KABUPATEN ACEH SELATAN,3.16667,97.41667
3,1104,11,KABUPATEN ACEH TENGGARA,KABUPATEN ACEH TENGGARA,3.36667,97.70000
4,1105,11,KABUPATEN ACEH TIMUR,KABUPATEN ACEH TIMUR,4.63333,97.63333

In [4]:
# Mengubah semua teks dalam kolom 'Kota Penerima' menjadi huruf kecil
df_kordinat['name'] = df_kordinat['name'].str.lower()
df_kordinat['alt_name'] = df_kordinat['alt_name'].str.lower()

In [5]:
# Membaca file .xls dengan baris pertama sebagai header
df = pd.read_excel(path_dataset, header=0)
# Menghapus baris kedua (baris ke-1 dalam indeks 0)
df = df.drop(index=0)
df = df.drop(index=[1, 2])
# Menampilkan DataFrame
df.head()

,No,Nomor Resi,ExtID,Kota Penerima,Kantor Asal,Kantor Tujuan,Bea Dasar,Htnb,Total,Harga Barang,Berat Kiriman,Produk,Tanggal Kirim,Isi Kiriman
3,3.0,LPU19128662xxxx,NaN,"KOTA BANJARMASIN , BANJARMASIN TENGAH, KERTAK ...",KC AMUNTAI 71400,DC BANJARMASIN 70006,5000.0,0.0,5000.0,NaN,0.1,PPB_SRT,2023-01-10 14:43:37,NaN
4,4.0,LPU19128662xxxx,NaN,"KAB HULU SUNGAI UTARA , AMUNTAI TENGAH, HARUSAN",KC AMUNTAI 71400,KC AMUNTAI 71400,3500.0,0.0,3500.0,NaN,0.1,PPB_SRT,2023-01-10 14:42:45,NaN
5,5.0,LPU19128662xxxx,NaN,"KOTA BANJARMASIN , BANJARMASIN TIMUR, KARANG M...",KC AMUNTAI 71400,DC BANJARMASIN 70006,5000.0,0.0,5000.0,NaN,0.1,PPB_SRT,2023-01-10 14:40:05,NaN
6,6.0,LPU19128662xxxx,NaN,"KAB HULU SUNGAI UTARA , AMUNTAI TENGAH, TANGGA...",KC AMUNTAI 71400,KC AMUNTAI 71400,3500.0,0.0,3500.0,NaN,0.1,PPB_SRT,2023-01-10 14:44:13,NaN
7,7.0,P230102000xxxx,NaN,"KOTA TANGERANG, CILEDUG SUDIMARA BARAT",KC AMUNTAI 71400,KCP CILEDUGTANGERANG 15157,34000.0,960.0,34960.0,400000.0,1.0,PKH,2023-01-02 06:53:15,GIGI

In [6]:

# Menampilkan panjang DataFrame (jumlah baris tidak termasuk header)
print(f"Panjang DataFrame (jumlah baris): {len(df)}")

Panjang DataFrame (jumlah baris): 3444

In [7]:
# Mengganti " , " dengan "," pada kolom 'Kota Penerima'
df['Kota Penerima'] = df['Kota Penerima'].str.replace(' , ', ',', regex=False)
df['Kota Penerima'] = df['Kota Penerima'].str.replace(' ,', ',', regex=False)
df['Kota Penerima'] = df['Kota Penerima'].str.replace(', ', ',', regex=False)

# Mengubah semua teks dalam kolom 'Kota Penerima' menjadi huruf kecil
df['Kota Penerima'] = df['Kota Penerima'].str.lower()

# replace "kab" dengan "kabupaten"
df['Kota Penerima'] = df['Kota Penerima'].str.replace('kab', 'kabupaten', regex=False)
df['Kota Penerima'] = df['Kota Penerima'].str.replace('kabupaten.', 'kabupaten', regex=False)

In [8]:
df["Kota Penerima"].head()

3    kota banjarmasin,banjarmasin tengah,kertak bar...
4    kabupaten hulu sungai utara,amuntai tengah,har...
5      kota banjarmasin,banjarmasin timur,karang mekar
6    kabupaten hulu sungai utara,amuntai tengah,tan...
7                kota tangerang,ciledug sudimara barat
Name: Kota Penerima, dtype: object

In [9]:
# Fungsi untuk mengambil bagian yang dimulai dengan 'kota' atau 'kabupaten'
def extract_kota_or_kabupaten(text):
    parts = text.split(',')
    for part in parts:
        if part.startswith('kota '):
            return part
        elif part.startswith('kabupaten '):
            return part
    return text

# Terapkan fungsi ke kolom 'Kota Penerima' dan simpan hasilnya di kolom baru 'Kota'
df['Kota'] = df['Kota Penerima'].apply(extract_kota_or_kabupaten)

df.head()

,No,Nomor Resi,ExtID,Kota Penerima,Kantor Asal,Kantor Tujuan,Bea Dasar,Htnb,Total,Harga Barang,Berat Kiriman,Produk,Tanggal Kirim,Isi Kiriman,Kota
3,3.0,LPU19128662xxxx,NaN,"kota banjarmasin,banjarmasin tengah,kertak bar...",KC AMUNTAI 71400,DC BANJARMASIN 70006,5000.0,0.0,5000.0,NaN,0.1,PPB_SRT,2023-01-10 14:43:37,NaN,kota banjarmasin
4,4.0,LPU19128662xxxx,NaN,"kabupaten hulu sungai utara,amuntai tengah,har...",KC AMUNTAI 71400,KC AMUNTAI 71400,3500.0,0.0,3500.0,NaN,0.1,PPB_SRT,2023-01-10 14:42:45,NaN,kabupaten hulu sungai utara
5,5.0,LPU19128662xxxx,NaN,"kota banjarmasin,banjarmasin timur,karang mekar",KC AMUNTAI 71400,DC BANJARMASIN 70006,5000.0,0.0,5000.0,NaN,0.1,PPB_SRT,2023-01-10 14:40:05,NaN,kota banjarmasin
6,6.0,LPU19128662xxxx,NaN,"kabupaten hulu sungai utara,amuntai tengah,tan...",KC AMUNTAI 71400,KC AMUNTAI 71400,3500.0,0.0,3500.0,NaN,0.1,PPB_SRT,2023-01-10 14:44:13,NaN,kabupaten hulu sungai utara
7,7.0,P230102000xxxx,NaN,"kota tangerang,ciledug sudimara barat",KC AMUNTAI 71400,KCP CILEDUGTANGERANG 15157,34000.0,960.0,34960.0,400000.0,1.0,PKH,2023-01-02 06:53:15,GIGI,kota tangerang

In [10]:
# Menggabungkan df dengan df_kordinat berdasarkan kecocokan kolom 'Kota' dengan 'name'
df = df.merge(df_kordinat[['name', 'longitude', 'latitude']], left_on='Kota', right_on='name', how='left')

# Menggabungkan df dengan df_kordinat berdasarkan kecocokan kolom 'Kota' dengan 'alt_name' jika tidak ditemukan di 'name'
df = df.merge(df_kordinat[['alt_name', 'longitude', 'latitude']], left_on='Kota', right_on='alt_name', how='left', suffixes=('', '_alt'))

# Mengisi NaN dengan data dari kolom 'longitude_alt' dan 'latitude_alt' jika kolom 'longitude' dan 'latitude' NaN
df['longitude'] = df['longitude'].fillna(df['longitude_alt'])
df['latitude'] = df['latitude'].fillna(df['latitude_alt'])

# Menghapus kolom yang tidak diperlukan
df = df.drop(columns=['name', 'alt_name', 'longitude_alt', 'latitude_alt'])

# Menampilkan hasil akhir
# print(df["longitude"].isna().sum())
df2=df[df['longitude'].isnull()]
df2

,No,Nomor Resi,ExtID,Kota Penerima,Kantor Asal,Kantor Tujuan,Bea Dasar,Htnb,Total,Harga Barang,Berat Kiriman,Produk,Tanggal Kirim,Isi Kiriman,Kota,longitude,latitude
50,53.0,P230107003xxxx,NaN,kota tangerang ciledug sudimara barat,KC AMUNTAI 71400,KCP CILEDUGTANGERANG 15157,34000.0,960.0,34960.0,400000.0,1.00,PKH,2023-01-07 09:58:02,gigi,kota tangerang ciledug sudimara barat,NaN,NaN
62,65.0,P230109003xxxx,NaN,kota tangerang selatan ciputat cipayung,KC AMUNTAI 71400,KC TANGERANGSELATAN 15400,34000.0,500.0,34500.0,200000.0,1.00,PKH,2023-01-09 09:45:27,BUKU,kota tangerang selatan ciputat cipayung,NaN,NaN
81,84.0,P230110012xxxx,NaN,kabupaten tangerang curug cukanggalih (cukang ...,KC AMUNTAI 71400,KCP CURUG 15810,102000.0,960.0,102960.0,400000.0,2.50,PKH,2023-01-10 14:11:47,MAKANAN KERING,kabupaten tangerang curug cukanggalih (cukang ...,NaN,NaN
135,138.0,P230116000xxxx,NaN,kota tangerang ciledug sudimara barat,KC AMUNTAI 71400,KCP CILEDUGTANGERANG 15157,34000.0,960.0,34960.0,400000.0,1.00,PKH,2023-01-16 07:02:25,GIGI,kota tangerang ciledug sudimara barat,NaN,NaN
222,225.0,P230124001xxxx,NaN,kota tangerang ciledug sudimara barat,KC AMUNTAI 71400,KCP CILEDUGTANGERANG 15157,34000.0,960.0,34960.0,400000.0,1.00,PKH,2023-01-24 08:38:56,GIGI,kota tangerang ciledug sudimara barat,NaN,NaN
294,297.0,P230129000xxxx,SHPE2301280xxxx,"indonesia,,banjarbaru",KC AMUNTAI 71400,SPP BANJARMASIN 70400,9000.0,0.0,9000.0,79560.0,0.00,EC3,2023-01-29 09:59:18,Baby & Kids Fashion,"indonesia,,banjarbaru",NaN,NaN
323,325.0,CC0054028xxxx,CDS022353xxxx,us-united states of america,KC AMUNTAI 71400,NaN,535000.0,0.0,540885.0,299992.8,0.80,3PE,2023-02-16 10:30:22,JACKET,us-united states of america,NaN,NaN
324,326.0,EE1931953xxxx,CDS022338xxxx,sg-singapore,KC AMUNTAI 71400,NaN,193000.0,0.0,195123.0,200047.5,0.30,312,2023-02-11 14:44:09,MINIATURE OF JAVANESE PUPPET,sg-singapore,NaN,NaN
359,361.0,P230203001xxxx,NaN,kota tangerang ciledug sudimara barat,KC AMUNTAI 71400,KCP CILEDUGTANGERANG 15157,34000.0,960.0,34960.0,400000.0,1.00,PKH,2023-02-03 08:38:54,GIGI PALSU,kota tangerang ciledug sudimara barat,NaN,NaN
373,375.0,P230206001xxxx,NaN,kota tangerang ciledug sudimara barat,KC AMUNTAI 71400,KCP CILEDUGTANGERANG 15157,34000.0,500.0,34500.0,200000.0,1.00,PKH,2023-02-06 08:51:01,GIGI,kota tangerang ciledug sudimara barat,NaN,NaN
375,377.0,P230206001xxxx,NaN,kota tangerang selatan ciputat timur cireundeu,KC AMUNTAI 71400,KC TANGERANGSELATAN 15400,34000.0,1920.0,35920.0,800000.0,1.00,PKH,2023-02-06 09:01:57,STNK ASLI,kota tangerang selatan ciputat timur cireundeu,NaN,NaN
439,441.0,P230211001xxxx,NaN,kota tangerang ciledug sudimara barat,KC AMUNTAI 71400,KCP CILEDUGTANGERANG 15157,34000.0,960.0,34960.0,400000.0,1.00,PKH,2023-02-11 08:42:38,GIGI,kota tangerang ciledug sudimara barat,NaN,NaN
444,446.0,P230213000xxxx,NaN,kota tangerang selatan pamulang pondok benda,KC AMUNTAI 71400,KC TANGERANGSELATAN 15400,34000.0,960.0,34960.0,400000.0,2.00,PKH,2023-02-13 06:50:32,KERUPUK,kota tangerang selatan pamulang pondok benda,NaN,NaN
466,468.0,P230214006xxxx,NaN,kabupaten pandeglang banjar banjar,KC AMUNTAI 71400,KCP BANJARPANDEGLANG 42252,136000.0,500.0,136500.0,200000.0,3.50,PJE,2023-02-14 10:52:44,TAS PURUN,kabupaten pandeglang banjar banjar,NaN,NaN
527,529.0,P230220001xxxx,NaN,kota tangerang ciledug sudimara barat,KC AMUNTAI 71400,KCP CILEDUGTANGERANG 15157,34000.0,960.0,34960.0,400000.0,0.10,PKH,2023-02-20 08:44:59,GIGI,kota tangerang ciledug sudimara barat,NaN,NaN
529,531.0,P230220006xxxx,NaN,kota tangerang selatan serpong cilenggang,KC AMUNTAI 71400,KC TANGERANGSELATAN 15400,34000.0,960.0,34960.0,400000.0,0.10,PKH,2023-02-20 11:13:01,doc,kota tangerang selatan serpong cilenggang,NaN,NaN
606,608.0,P230302003xxxx,NaN,kota tangerang selatan pondok aren pondok aren,KC AMUNTAI 71400,KC TANGERANGSELATAN 15400,34000.0,960.0,34960.0,400000.0,0.10,PKH,2023-03-02 09:31:04,DOC,kota tangerang selatan pondok aren pondok aren,NaN,NaN
625,627.0,P230304001xxxx,NaN,kota tangerang ciledug sudimara barat,KC AMUNTAI 71400,KCP CILEDUGTANGERANG 15157,34000.0,960.0,34960.0,400000.0,1.00,PKH,2023-03-04 08:39:16,GIGI,kota tangerang ciledug sudimara barat,NaN,NaN
665,667.0,P230308000xxxx,NaN,kota tangerang ciledug sudimara barat,KC AMUNTAI 71400,KCP CILEDUGTANGERANG 15157,34000.0,960.0,34960.0,400000.0,1.00,PKH,2023-03-08 07:58:52,gigi,kota tangerang ciledug sudimara barat,NaN,NaN
728,730.0,P230313001xxxx,NaN,kota tangerang ciledug sudimara barat,KC AMUNTAI 71400,KCP CILEDUGTANGERANG 15157,34000.0,960.0,34960.0,400000.0,1.00,PKH,2023-03-13 08:42:47,GIGI,kota tangerang ciledug sudimara barat,NaN,NaN
742,744.0,P230313013xxxx,SHPE2303130xxxx,"indonesia,,ketapang",KC AMUNTAI 71400,KCP ALABIO 71455,77000.0,0.0,77000.0,15000.0,0.03,EC3,2023-03-13 14:40:52,Health,"indonesia,,ketapang",NaN,NaN
802,803.0,P230318002xxxx,NaN,kota tangerang ciledug sudimara barat,KC AMUNTAI 71400,KCP CILEDUGTANGERANG 15157,34000.0,960.0,34960.0,400000.0,1.00,PKH,2023-03-18 09:04:11,GIGI,kota tangerang ciledug sudimara barat,NaN,NaN
840,841.0,P230321000xxxx,NaN,"hulu sungai utara,amuntai tengah,kebun sari",KC AMUNTAI 71400,KC AMUNTAI 71400,8500.0,500.0,9000.0,200000.0,1.00,PKH,2023-03-21 07:39:41,DOC,"hulu sungai utara,amuntai tengah,kebun sari",NaN,NaN
874,874.0,P230324000xxxx,NaN,kota tangerang ciledug sudimara barat,KC AMUNTAI 71400,KCP CILEDUGTANGERANG 15157,34000.0,960.0,34960.0,400000.0,1.00,PKH,2023-03-24 08:00:17,ALAT GIGI,kota tangerang ciledug sudimara barat,NaN,NaN
894,894.0,P230325006xxxx,NaN,kota tangerang ciledug sudimara barat,KC AMUNTAI 71400,KCP CILEDUGTANGERANG 15157,34000.0,960.0,34960.0,400000.0,1.00,PKH,2023-03-25 11:00:36,ALAT KEDOKTERAN GIGI,kota tangerang ciledug sudimara barat,NaN,NaN
896,896.0,P230325010xxxx,SHPE2303250xxxx,kabupaten tangerang pagedangan karang tengah,KC AMUNTAI 71400,KCP CILEDUGTANGERANG 15157,34000.0,0.0,34000.0,89900.0,0.20,EC3,2023-03-25 14:07:29,Men Clothes,kabupaten tangerang pagedangan karang tengah,NaN,NaN
1130,1129.0,P230429000xxxx,NaN,kota tangerang ciledug sudimara barat,KC AMUNTAI 71400,KCP CILEDUGTANGERANG 15157,34000.0,960.0,34960.0,400000.0,1.00,PKH,2023-04-29 08:27:01,REPLICA GIGI,kota tangerang ciledug sudimara barat,NaN,NaN
1181,1180.0,CC0054028xxxx,CDS042372xxxx,jp-japan,KC AMUNTAI 71400,NaN,580000.0,0.0,586380.0,299992.8,0.80,3PE,2023-04-06 15:00:30,jacket,jp-japan,NaN,NaN
1183,1182.0,P230401003xxxx,NaN,kota tangerang ciledug sudimara barat,KC AMUNTAI 71400,KCP CILEDUGTANGERANG 15157,34000.0,960.0,34960.0,400000.0,1.00,PKH,2023-04-01 09:57:49,gigi,kota tangerang ciledug sudimara barat,NaN,NaN
1190,1189.0,P230401008xxxx,SHPE2303310xxxx,kabupaten tangerang pagedangan jatake,KC AMUNTAI 71400,KCU TANGERANG 15000,34000.0,0.0,34000.0,160400.0,0.37,EC3,2023-04-01 12:38:36,Men Clothes,kabupaten tangerang pagedangan jatake,NaN,NaN
1288,1287.0,P230405020xxxx,SHPE2304050xxxx,"lampung,bandar lampung,teluk betung selatan,su...",KC AMUNTAI 71400,KCU BANDARLAMPUNG 35000,44000.0,0.0,44000.0,164800.0,0.37,EC3,2023-04-05 16:35:54,Men Clothes,"lampung,bandar lampung,teluk betung selatan,su...",NaN,NaN
1472,1471.0,P230411017xxxx,SHPE2304110xxxx,kabupaten serang kramatwatu harjatani,KC AMUNTAI 71400,KCP KRAMATWATU 42161,38000.0,0.0,38000.0,115000.0,0.20,EC3,2023-04-11 14:44:10,Men Clothes,kabupaten serang kramatwatu harjatani,NaN,NaN
1555,1554.0,P230413002xxxx,SHPE2304120xxxx,kota tangerang jatiuwung pasir jaya,KC AMUNTAI 71400,KCU TANGERANG 15000,34000.0,0.0,34000.0,99900.0,0.20,EC3,2023-04-13 08:48:23,Men Clothes,kota tangerang jatiuwung pasir jaya,NaN,NaN
1580,1579.0,CC0054028xxxx,CDS042372xxxx,jp-japan,KC AMUNTAI 71400,NaN,580000.0,0.0,586380.0,299992.8,0.80,3PE,2023-04-06 15:00:30,jacket,jp-japan,NaN,NaN
1582,1581.0,P230401003xxxx,NaN,kota tangerang ciledug sudimara barat,KC AMUNTAI 71400,KCP CILEDUGTANGERANG 15157,34000.0,960.0,34960.0,400000.0,1.00,PKH,2023-04-01 09:57:49,gigi,kota tangerang ciledug sudimara barat,NaN,NaN
1589,1588.0,P230401008xxxx,SHPE2303310xxxx,kabupaten tangerang pagedangan jatake,KC AMUNTAI 71400,KCU TANGERANG 15000,34000.0,0.0,34000.0,160400.0,0.38,EC3,2023-04-01 12:38:36,Men Clothes,kabupaten tangerang pagedangan jatake,NaN,NaN
1687,1686.0,P230405020xxxx,SHPE2304050xxxx,"lampung,bandar lampung,teluk betung selatan,su...",KC AMUNTAI 71400,KCU BANDARLAMPUNG 35000,44000.0,0.0,44000.0,164800.0,0.37,EC3,2023-04-05 16:35:54,Men Clothes,"lampung,bandar lampung,teluk betung selatan,su...",NaN,NaN
1871,1870.0,P230411017xxxx,SHPE2304110xxxx,kabupaten serang kramatwatu harjatani,KC AMUNTAI 71400,KCP KRAMATWATU 42161,38000.0,0.0,38000.0,115000.0,0.20,EC3,2023-04-11 14:44:10,Men Clothes,kabupaten serang kramatwatu harjatani,NaN,NaN
1954,1953.0,P230413002xxxx,SHPE2304120xxxx,kota tangerang jatiuwung pasir jaya,KC AMUNTAI 71400,KCU TANGERANG 15000,34000.0,0.0,34000.0,99900.0,0.20,EC3,2023-04-13 08:48:23,Men Clothes,kota tangerang jatiuwung pasir jaya,NaN,NaN
2038,2037.0,P230510015xxxx,SHPE2305100xxxx,"hulu sungai utara,amuntai tengah,kebun sari",KC AMUNTAI 71400,KC AMUNTAI 71400,7000.0,0.0,7000.0,52074.0,0.80,EC3,2023-05-10 15:29:20,Home & Living,"hulu sungai utara,amuntai tengah,kebun sari",NaN,NaN
2132,2131.0,P230513008xxxx,NaN,kota tangerang ciledug sudimara barat,KC AMUNTAI 71400,KCP CILEDUGTANGERANG 15157,34000.0,0.0,34000.0,400000.0,1.00,PKH,2023-05-13 12:05:11,GIGI,kota tangerang ciledug sudimara barat,NaN,NaN
2235,2234.0,P230515022xxxx,SHPE2305140xxxx,"hulu sungai utara,amuntai tengah,kebun sari",KC AMUNTAI 71400,KC AMUNTAI 71400,7000.0,0.0,7000.0,129900.0,0.05,EC3,2023-05-15 20:08:39,Beauty,"hulu sungai utara,amuntai tengah,kebun sari",NaN,NaN
2246,2245.0,P230516009xxxx,NaN,kota tangerang batuceper batuceper (batu ceper),KC AMUNTAI 71400,KCU TANGERANG 15000,68000.0,3000.0,71000.0,1250000.0,1.00,PKH,2023-05-16 12:39:32,TONGKAT,kota tangerang batuceper batuceper (batu ceper),NaN,NaN
2325,2324.0,CC0054028xxxx,CDS052323xxxx,us-united states of america,KC AMUNTAI 71400,NaN,535000.0,5000.0,546435.0,299992.8,0.70,3PE,2023-05-08 18:29:25,JEANS,us-united states of america,NaN,NaN
2326,2325.0,CC0054028xxxx,CDS052314xxxx,be-belgium,KC AMUNTAI 71400,NaN,525000.0,5000.0,536325.0,299992.8,0.50,3PE,2023-05-19 09:34:23,JACKET,be-belgium,NaN,NaN
2468,2467.0,P230504017xxxx,PON1433764116xxxx,kota tangerang cipondoh cipondoh,KC AMUNTAI 71400,KCU TANGERANG 15000,34000.0,500.0,34500.0,200000.0,0.50,PKH,2023-05-04 16:44:03,BAJU,kota tangerang cipondoh cipondoh,NaN,NaN
2549,2548.0,P230506003xxxx,NaN,kota tangerang ciledug sudimara barat,KC AMUNTAI 71400,KCP CILEDUGTANGERANG 15157,34000.0,960.0,34960.0,400000.0,0.50,PKH,2023-05-06 10:16:31,GIGI,kota tangerang ciledug sudimara barat,NaN,NaN
2766,2765.0,P230624005xxxx,PON3974321010xxxx,kota tangerang cipondoh cipondoh,KC AMUNTAI 71400,KCU TANGERANG 15000,34000.0,1500.0,35500.0,600000.0,0.80,PKH,2023-06-24 10:50:45,ALAT PERAH ASI,kota tangerang cipondoh cipondoh,NaN,NaN
3141,3140.0,P230616001xxxx,NaN,kota tangerang ciledug sudimara barat,KC AMUNTAI 71400,KCP CILEDUGTANGERANG 15157,34000.0,1000.0,35000.0,400000.0,1.00,PKH,2023-06-16 08:21:44,GIGI,kota tangerang ciledug sudimara barat,NaN,NaN
3238,3237.0,CC0037909xxxx,CDS062312xxxx,us-united states of america,KC AMUNTAI 71400,KCP TELAGASELABA 71452,443000.0,5000.0,453423.0,99945.3,0.10,3PE,2023-06-21 13:52:00,BOTOL ISI SAMPEL,us-united states of america,NaN,NaN
3239,3238.0,CC0054028xxxx,CDS062346xxxx,us-united states of america,KC AMUNTAI 71400,NaN,535000.0,5000.0,546435.0,299992.8,0.80,3PE,2023-06-08 16:27:26,Pants,us-united states of america,NaN,NaN
3240,3239.0,CC0054028xxxx,CDS062374xxxx,jp-japan,KC AMUNTAI 71400,NaN,580000.0,5000.0,591930.0,299992.8,0.60,3PE,2023-06-08 16:21:30,jacket,jp-japan,NaN,NaN
3241,3240.0,EE1931954xxxx,CDS062320xxxx,my-malaysia,KC AMUNTAI 71400,NaN,602000.0,5000.0,614172.0,699930.9,4.20,312,2023-06-02 08:35:21,KITAB,my-malaysia,NaN,NaN
3242,3241.0,EE1931954xxxx,CDS062378xxxx,us-united states of america,KC AMUNTAI 71400,NaN,588000.0,0.0,594468.0,199956.9,0.10,312,2023-06-30 09:50:52,SAMLE OF HUMAN GENETIC DNA,us-united states of america,NaN,NaN
3243,3242.0,EE1931955xxxx,CDS062340xxxx,cn-china,KC AMUNTAI 71400,NaN,289000.0,0.0,292179.0,409822.8,1.00,312,2023-06-06 17:08:42,"BATIK,BENG BENG,KUSUKA,COKELAT DILLAN,COKELAT ...",cn-china,NaN,NaN
3296,3295.0,P230603002xxxx,NaN,kota tangerang ciledug sudimara barat,KC AMUNTAI 71400,KCP CILEDUGTANGERANG 15157,34000.0,720.0,34720.0,300000.0,1.00,PKH,2023-06-03 09:09:15,GIGI,kota tangerang ciledug sudimara barat,NaN,NaN

In [11]:
# Cek baris yang memiliki nilai None atau NaN di kolom Kota
print("Baris dengan nilai None atau NaN di kolom Kota:")
print(df["longitude"].isna().sum())
df[df['longitude'].isna()].head()

Baris dengan nilai None atau NaN di kolom Kota:
56

,No,Nomor Resi,ExtID,Kota Penerima,Kantor Asal,Kantor Tujuan,Bea Dasar,Htnb,Total,Harga Barang,Berat Kiriman,Produk,Tanggal Kirim,Isi Kiriman,Kota,longitude,latitude
50,53.0,P230107003xxxx,NaN,kota tangerang ciledug sudimara barat,KC AMUNTAI 71400,KCP CILEDUGTANGERANG 15157,34000.0,960.0,34960.0,400000.0,1.0,PKH,2023-01-07 09:58:02,gigi,kota tangerang ciledug sudimara barat,NaN,NaN
62,65.0,P230109003xxxx,NaN,kota tangerang selatan ciputat cipayung,KC AMUNTAI 71400,KC TANGERANGSELATAN 15400,34000.0,500.0,34500.0,200000.0,1.0,PKH,2023-01-09 09:45:27,BUKU,kota tangerang selatan ciputat cipayung,NaN,NaN
81,84.0,P230110012xxxx,NaN,kabupaten tangerang curug cukanggalih (cukang ...,KC AMUNTAI 71400,KCP CURUG 15810,102000.0,960.0,102960.0,400000.0,2.5,PKH,2023-01-10 14:11:47,MAKANAN KERING,kabupaten tangerang curug cukanggalih (cukang ...,NaN,NaN
135,138.0,P230116000xxxx,NaN,kota tangerang ciledug sudimara barat,KC AMUNTAI 71400,KCP CILEDUGTANGERANG 15157,34000.0,960.0,34960.0,400000.0,1.0,PKH,2023-01-16 07:02:25,GIGI,kota tangerang ciledug sudimara barat,NaN,NaN
222,225.0,P230124001xxxx,NaN,kota tangerang ciledug sudimara barat,KC AMUNTAI 71400,KCP CILEDUGTANGERANG 15157,34000.0,960.0,34960.0,400000.0,1.0,PKH,2023-01-24 08:38:56,GIGI,kota tangerang ciledug sudimara barat,NaN,NaN

In [12]:
def check_similarity(kota, df_kordinat):
    for _, row_kordinat in df_kordinat.iterrows():
        if row_kordinat['name'] in kota:
            return row_kordinat['longitude'], row_kordinat['latitude']
        elif row_kordinat['alt_name'] in kota:
            return row_kordinat['longitude'], row_kordinat['latitude']
    return np.nan, np.nan

# Loop melalui setiap baris di df dan perbarui kolom longitude dan latitude berdasarkan kesamaan kata
x=0
for i, row in df.iterrows():
    if pd.isna(row['longitude']):
        longitude, latitude = check_similarity(row['Kota'], df_kordinat)
        df.at[i, 'longitude'] = longitude
        df.at[i, 'latitude'] = latitude
df.head()

,No,Nomor Resi,ExtID,Kota Penerima,Kantor Asal,Kantor Tujuan,Bea Dasar,Htnb,Total,Harga Barang,Berat Kiriman,Produk,Tanggal Kirim,Isi Kiriman,Kota,longitude,latitude
0,3.0,LPU19128662xxxx,NaN,"kota banjarmasin,banjarmasin tengah,kertak bar...",KC AMUNTAI 71400,DC BANJARMASIN 70006,5000.0,0.0,5000.0,NaN,0.1,PPB_SRT,2023-01-10 14:43:37,NaN,kota banjarmasin,114.59102,-3.32444
1,4.0,LPU19128662xxxx,NaN,"kabupaten hulu sungai utara,amuntai tengah,har...",KC AMUNTAI 71400,KC AMUNTAI 71400,3500.0,0.0,3500.0,NaN,0.1,PPB_SRT,2023-01-10 14:42:45,NaN,kabupaten hulu sungai utara,115.13333,-2.45000
2,5.0,LPU19128662xxxx,NaN,"kota banjarmasin,banjarmasin timur,karang mekar",KC AMUNTAI 71400,DC BANJARMASIN 70006,5000.0,0.0,5000.0,NaN,0.1,PPB_SRT,2023-01-10 14:40:05,NaN,kota banjarmasin,114.59102,-3.32444
3,6.0,LPU19128662xxxx,NaN,"kabupaten hulu sungai utara,amuntai tengah,tan...",KC AMUNTAI 71400,KC AMUNTAI 71400,3500.0,0.0,3500.0,NaN,0.1,PPB_SRT,2023-01-10 14:44:13,NaN,kabupaten hulu sungai utara,115.13333,-2.45000
4,7.0,P230102000xxxx,NaN,"kota tangerang,ciledug sudimara barat",KC AMUNTAI 71400,KCP CILEDUGTANGERANG 15157,34000.0,960.0,34960.0,400000.0,1.0,PKH,2023-01-02 06:53:15,GIGI,kota tangerang,106.62991,-6.17944

In [13]:
df.isna().sum()

No                  0
Nomor Resi          0
ExtID            1180
Kota Penerima       0
Kantor Asal         0
Kantor Tujuan      12
Bea Dasar           0
Htnb                0
Total               0
Harga Barang       66
Berat Kiriman       0
Produk              0
Tanggal Kirim       0
Isi Kiriman         4
Kota                0
longitude          12
latitude           12
dtype: int64

In [14]:
df_nan_longitude = df[df['longitude'].isna()]
print(df_nan_longitude["longitude"].isna().sum())
df_nan_longitude.head()

12

,No,Nomor Resi,ExtID,Kota Penerima,Kantor Asal,Kantor Tujuan,Bea Dasar,Htnb,Total,Harga Barang,Berat Kiriman,Produk,Tanggal Kirim,Isi Kiriman,Kota,longitude,latitude
323,325.0,CC0054028xxxx,CDS022353xxxx,us-united states of america,KC AMUNTAI 71400,NaN,535000.0,0.0,540885.0,299992.8,0.8,3PE,2023-02-16 10:30:22,JACKET,us-united states of america,NaN,NaN
324,326.0,EE1931953xxxx,CDS022338xxxx,sg-singapore,KC AMUNTAI 71400,NaN,193000.0,0.0,195123.0,200047.5,0.3,312,2023-02-11 14:44:09,MINIATURE OF JAVANESE PUPPET,sg-singapore,NaN,NaN
1181,1180.0,CC0054028xxxx,CDS042372xxxx,jp-japan,KC AMUNTAI 71400,NaN,580000.0,0.0,586380.0,299992.8,0.8,3PE,2023-04-06 15:00:30,jacket,jp-japan,NaN,NaN
1580,1579.0,CC0054028xxxx,CDS042372xxxx,jp-japan,KC AMUNTAI 71400,NaN,580000.0,0.0,586380.0,299992.8,0.8,3PE,2023-04-06 15:00:30,jacket,jp-japan,NaN,NaN
2325,2324.0,CC0054028xxxx,CDS052323xxxx,us-united states of america,KC AMUNTAI 71400,NaN,535000.0,5000.0,546435.0,299992.8,0.7,3PE,2023-05-08 18:29:25,JEANS,us-united states of america,NaN,NaN

In [15]:
df=df[df["longitude"].notna()]

print(df["longitude"].isna().sum())

0

In [16]:
df.to_csv("../dataset/data_kordinat.csv", index=False)